<div class="article">
    <div>
        {{#if is_list_view}}
        <h1><a href="{{ meta.url }}">{{title}}</a></h1>
        {{else}}
        <h1>{{title}}</h1>
        {{/if}}
    </div>
    <div class="article-infos">
        <ul>
            {{#with (lookup globals.authors meta.author)}}
            <li>
                {{#if image_url}}<img src="{{ image_url }}" alt="author" class="icon-pfp icon-24">
                {{else}}<i role="img" aria-label="author" class="icon-ui icon-ui-user icon-24"></i>
                {{/if}}
                <b>{{name}}</b>
            </li>
            <li>
                <i role="img" aria-label="tagged as" class="icon-ui icon-ui-folder"></i>
                <b>
                {{#each ../meta.tags}}
                    <a href="/{{ ../../meta.section }}/tags/{{ this }}">{{this}}</a>
                {{/each}}
                </b>
            </li>
            <li><i role="img" aria-label="dated" class="icon-ui icon-ui-clock"></i> <b>{{../meta.date}}</b></li>
            {{#if url}}<li><a href="{{ url }}"><i aria-label="personal website" class="icon-ui icon-ui-link"></i></a></li>{{/if}}
            {{#if twitter_url}}<li><a href="{{ twitter_url }}"><i aria-label="X profile" class="icon-ui icon-ui-x-twitter"></i></a></li>{{/if}}
            {{#if github_url}}<li><a href="{{ github_url }}"><i aria-label="GitHub profile" class="icon-ui icon-ui-github-alt"></i></a></li>{{/if}}
            {{/with}}
        </ul>
    </div>
    <div>
        {{{ contents }}}
    </div>
</div>