<h1>{{title}}</h1>

{{ #each children }}

<div class="nav-link-container">
    <a href="{{url}}" class="nav-link">
        <div class="title">{{title}}</div>

        <div class="direction">{{#if summary}}{{summary}}{{else}}Read&nbsp;&raquo;{{/if}}</div>
    </a>
</div>

{{ /each }}