<!doctype html>

<html lang="en" data-theme="dark">

<head>
    <title>{{title}} - PPSSPP</title>

    <meta charset="UTF-8"/>
    <meta name="description" content="PPSSPP is a free and open-source PSP emulator with a focus on performance and portability.
Play PSP games on your phone in high resolution with improved graphics.
Continue from your PSP saves. Save and restore game state anytime.
Play multiplayer with your friends. Download for Android, Windows PC, macOS, iOS, Linux and more."/>
    <meta name="keywords" content="PSP, emulator">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEQLDV0155"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-PEQLDV0155');
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="PPSSPP RSS Feed">
    <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="PPSSPP Atom Feed">

    <script src="/static/script/squirrelly.min.js" defer></script>
    <script src="/static/script/main.js" defer></script>
    {{#unless noAds}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3281131109267988"
        crossorigin="anonymous"></script>
    {{/unless}}
    <script>
        // Special behaviors. There's probably a better way.
        var g_loginByKey = false;
        var g_thankYouPage = false;
        var g_downloadPage = false;
        var g_buildbotPage = false;
    </script>
    {{#if fastspring}}
    <script id="fsc-api" src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.4/fastspring-builder.min.js" {{#if
        globals.prod}} data-storefront="ppsspp.onfastspring.com/popup-gold" {{else}}
        data-storefront="ppsspp.test.onfastspring.com/popup-gold" {{/if}} data-popup-closed="onFSPopupClosed"
        data-error-callback="onFSError" data-debug=true>
        </script>
    {{/if}}
    {{#if contains_code}}
    <script src="/static/script/highlight.min.js" defer></script>
    {{/if}}
</head>

<body>
    <div class="page-wrapper">
        <nav class="top-nav">
            <div class='menu-button-container' id="burgerButton" onclick="burgerClick()" tabindex="0">
                <div class='menu-button'></div>
            </div>
            <div class="top-nav-logo">
                <a href="/" class="center-vertical"><img id="navbarIcon" src="/static/img/platform/ppsspp-icon.png" aria-hidden="true"
                        class="icon-32">PPSSPP</a>
            </div>
            <ul class="menu">
                {{#each top_nav}}
                <li {{#if external}}class="external"{{/if}}>
                    <a href="{{url}}" {{#if selected}}class="selected"{{/if}}>{{{title}}}{{#if external}}{{> link_icon }}{{/if}}</a>
                </li>
                {{/each}}
                <li>
                    <div class="switch-theme" onclick="switchTheme()">
                        <i role="button" aria-label="Dark Mode" class="icon-ui icon-ui-moon"></i>
                    </div>
                </li>
            </ul>
            <div id="loginCorner"><a href="/login">Login</a></div>
        </nav>

        <section class="contents">
            <div class="burger-sidebar hidden" id="rootSidebar">
                {{!-- We repeat all the same stuff again, but add Login. Better than crazy CSS tricks... --}}
                <ul class="burger-menu">
                    {{#each top_nav}}
                    <li><a href="{{url}}" {{#if selected}}class="selected"{{/if}}>{{{title}}}{{#if external}}{{> link_icon }}{{/if}}</a></li>
                    {{/each}}
                    <li>
                        <div id="loginItem"><a href="/login">Login</a></div>
                    </li>
                    <li>
                        <div id="darkItem" class="switch-theme" onclick="switchTheme()">
                            <i aria-hidden="true" class="icon-ui icon-ui-moon"></i>Dark Mode
                        </div>
                    </li>
                </ul>
            </div>
