{{> common_header this }}

<div class="doc-container">

    <div class="doc-sidebar">

        {{{ sidebar }}}

    </div>

    <div class="doc-contents">
        <!-- todo: improve -->
        <p>
            {{#each breadcrumbs}}
            <span><a href="{{url}}">title</a></span> -
            {{/each}}
        </p>

        {{{ contents }}}

        {{#each tags}}
        {{this}}
        {{/each}}

        <div class="prev-next-container">
            {{ #if meta.prev }}
            <a href="{{ meta.prev.url }}" class="nav-link">
                <div class="direction">
                    Prev
                </div>
                <div class="title">
                    &laquo;&nbsp;{{meta.prev.title}}
                </div>
            </a>
            {{ /if }}
            {{ #if meta.next }}
            <a href="{{ meta.next.url }}" class="nav-link next">
                <div class="direction">
                    Next
                </div>
                <div class="title">
                    {{meta.next.title}}&nbsp;&raquo;
                </div>
            </a>
            {{ /if }}
        </div>
    </div>

</div>

{{> common_footer this }}