{{> common_header this }}

<div class="sidenav">

    {{{ sidebar }}}

</div>

<div class="main">

    {{{ breadcrumbs }}}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{{ contents }}}
            </div>
        </div>

        <div class="row">
            {{ #if meta.prev }}
            <div class="col-md-4">
                <a href="{{ meta.prev.url }}">{{ meta.prev.title }}</a>
            </div>
            {{ /if }}
            {{ #if next }}
            <div class="col-md-4">
                <a href="{{ meta.next.url }}">{{ meta.next.title }}</a>
            </div>
            {{ /if }}
        </div>
    </div>
</div>

{{> common_footer this }}