{{> common_header this }}

<div class="doc-container">
    <aside role="complementary" class="doc-sidebar" id="localSidebar">
        <nav aria-label="Documents list" class="nav-tree">
            {{{ sidebar }}}
        </nav>
    </aside>

    <div class="doc-contents">
        {{#if meta.breadcrumbs}}
        <nav aria-label="Breadcrumb">
            <ul class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
                {{#each meta.breadcrumbs}}
                <li property="itemListElement" typeof="ListItem">
                    {{#if url}}<a href="{{url}}" property="item" typeof="WebPage">{{/if}}
                        <span property="name">{{title}}</span>
                    {{#if url}}</a>{{/if}}
                    <meta property="position" content="{{position}}">
                </li>
                {{/each}}
            </ul>
        </nav>
        {{/if}}

        <article>
            {{{ contents }}}
        </article>

        {{#each tags}}
        <a class="tag-link">{{name}}</a>
        {{/each}}

        {{> unit}}

        <nav aria-label="Pagination" class="nav-link-container">
            {{ #if meta.prev }}
            <a href="{{ meta.prev.url }}" class="nav-link">
                <div class="direction">Prev</div>
                <div class="title">&laquo;&nbsp;{{meta.prev.title}}</div>
            </a>
            {{ /if }}

            {{ #if meta.next }}
            <a href="{{ meta.next.url }}" class="nav-link next">
                <div class="direction">Next</div>
                <div class="title">{{meta.next.title}}&nbsp;&raquo;</div>
            </a>
            {{ /if }}
        </nav>
    </div>
</div>

{{> common_footer this }}