<div class="col-4">
    <div class="card">
        <div class="card-title">
            <h2 class="no-icon">{{ title }}</h2>
        </div>
        <div class="card-contents">
            <p><span data-fsc-item-path="{{ productId }}" data-fsc-item-pricetotal></span></p>
            <p>{{ description }}<br /><span>{{ price }}</span></p>
            <button type="button" class="download-button button-block button-gold" data-fsc-item-path="{{ productId }}"
                data-fsc-item-path-value="{{ productId }}" data-fsc-action="Reset,Add,Checkout">
                <div class="button-contents">
                    <img src="/static/img/platform/ppsspp-icon-gold.png" class="icon-48">
                    <span style="padding-left: 10px">&nbsp;Buy PPSSPP Gold</span>
                </div>
            </button>
        </div>
    </div>
</div>