<div class="col">
    <div class="card">
        <div class="card__header">
            <h3>{{ title }} &mdash; <span data-fsc-item-path="{{ productId }}" data-fsc-item-pricetotal></span></h3>
            <p>{{ description }}<br /><span>{{ price }}</span></p>
        </div>
        <button type="button" class="btn btn-large" data-fsc-item-path="{{ productId }}"
            data-fsc-item-path-value="{{ productId }}" data-fsc-action="Reset,Add,Checkout">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <img src="/static/img/platform/ppsspp-icon-gold.png" width="48px" />
                <span style="paddingLeft: 10px">Buy PPSSPP Gold</span>
            </div>
        </button>
        <p>&nbsp;</p>
    </div>
</div>