{{> common_header this title="Download" description="Download PPSSPP for Android, Windows, Mac, iOS"}}

<div class="container">
    <h1>Download PPSSPP {{ globals.app_version }}</h1>

    <p>What's new in {{ globals.app_version }}? See the <a href="/news">news page</a>!</p>

    <!-- TODO: You've got GOLD banner here -->

    <div class="row">
        <!-- We now over the platforms -->
        {{ #each globals.platforms }}
        <div class="col-md-4 ms-card ms-fill">
            <div class="ms-card-title">
                {{ #if platform_badge }}
                <img src="/static/img/platform/{{platform_badge}}">
                {{ /if}}
                {{ title }}
            </div>
            <div class="ms-card-content">
                {{ #each downloads }}

                {{ #if icon }}
                <img src="/static/img/platform/{{icon}}" width="24px" height="24px">
                {{ /if }}

                {{ #if url }}
                <a href="{{url}}">{{name}}</a><br />
                {{ /if }}

                {{ #if download_url }}
                <a href="{{download_url}}">{{filename}}</a><br />
                {{ /if }}

                {{ #if whats_this_url }}
                <a href="{{whats_this_url}}">{{whats_this}}</a><br />
                {{ /if }}

                {{ /each }}
            </div>
        </div>
        {{ /each }}
    </div>

    <p class="gold-only">You have Gold - get PPSSPP Gold for Android for free!</p>

    <h2>Development builds</h2>
    <p>Download fresh development builds from Orphis' Buildbot, also included below.</p>
    <p>Please note that these development builds can be unstable - if one doesn't work, try an earlier one. And backup
        your save games!</p>

    <h2>Legacy builds and other downloads</h2>
    <p><a href="/legacybuilds">A page where you can download</a> cube.elf, and builds for Switch, Blackberry, Meego and
        other esoteric or old platforms.</p>

    <h2>Previous releases</h2>
    <table class="ms-table">
        <thead>
            <tr>
                <th>Version</th>
                <th>Downloads</th>
            </tr>
        </thead>
        <tbody>
            {{ #each globals.version_downloads }}
            <tr>
                <td>{{version}}</td>
                <td>
                    {{ #each downloads }}
                    {{ #if icon }}
                    <img src="/static/img/platform/{{icon}}" width="24px" height="24px">
                    {{ /if }}
                    {{ #if short_name }}
                    <a href="{{download_url}}">{{short_name}}</a>
                    {{ /if }}
                    {{ /each }}
                </td>
            </tr>
            {{ /each }}
        </tbody>
    </table>

</div>

<!--
<iframe seamless="true" src="https://buildbot.orphis.net/ppsspp/"
    style="border-width: 0px; background-color: transparent; padding: 0px; overflow: hidden; width: 100%; height: 2000px" />
-->

{{> common_footer this}}