{{> common_header this title="Download" description="Download PPSSPP for Android, Windows, macOS, Linux, iOS" }}

<div class="container">
    <h1>Download PPSSPP</h1>

    <p>What's new in {{ globals.app_version }}? See the <a href="/news">news page</a>!</p>

    <div class="alert alert-warning gold-only">
        You've got PPSSPP Gold for Windows/macOS! Downloads are now available below.
    </div>

    <div class="row">
        {{#each globals.platforms}}
        <div class="col-4">
            <div class="card">
                <div class="card-title">
                    {{ #if platform_badge }}
                    <img src="/static/img/icons/{{platform_badge}}" aria-hidden="true" class="icon-36">
                    {{ /if}}
                    <h2>{{ title }}</h2>
                </div>
                <div class="card-contents">
                    {{ #each downloads }}

                        {{ #unless old_build_only }}
                            <div {{ #if gold_only }} class="gold-only" {{ /if }}>
                                {{ #if title }}
                                <h3>{{ title }}</h3>
                                {{ /if }}

                                <a class="download-button button-block {{#if gold}}button-gold{{/if}}" {{#if url
                                    }}href="{{url}}" {{ /if }} {{ #if download_url }}href="{{download_url}}" {{ /if }}>
                                    <div class="button-contents">
                                        {{ #if icon }}
                                        <img src="/static/img/platform/{{icon}}" aria-hidden="true" class="icon-32">
                                        {{ /if }}
                                        {{ #if url }}{{name}}{{ /if }}
                                        {{ #if download_url }}{{name}}{{ /if }}
                                    </div>
                                    {{ #if service_image }}
                                    <img src="{{service_image}}" alt="{{service_alt}}" class="badge">
                                    {{ /if }}
                                </a>

                                {{ #if whats_this_url }}
                                <a href="{{whats_this_url}}">{{whats_this}}</a><br />
                                {{ /if }}

                            </div>
                        {{ /unless }}

                    {{ /each }}
                </div>
            </div>
        </div>
        {{#if newline}}
    </div>
    <div class="row">
        {{/if}}
        {{/each}}
    </div>

    <p class="gold-only">You have Gold for Windows/macOS - <a href="/requestgold">get PPSSPP Gold for Android for
            free!</a></p>
    <p class="no-gold-only">Do you have PPSSPP Gold for Android, and want it for Windows/macOS as well? See instructions
        <a href="/requestgold">here.</a>
    </p>

    <h2>Beta testing on Android</h2>
    <p>Want to try new builds early, to help testing and debugging of new releases? <a
            href="/docs/development/beta-testing/">Click here for information!</a></p>

    <h2>Legacy builds and other downloads</h2>
    <p><a href="/legacybuilds">A page where you can download</a> cube.elf and builds for Switch, Quest 1 and
        other esoteric or old platforms.</p>

    <h2>Previous releases</h2>
    <button class="collapsible">Show downloads of previous releases</button>
    <div class="collapsible-content">
        <table class="nice-table">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Downloads</th>
                </tr>
            </thead>
            <tbody>
                {{ #each globals.version_downloads }}
                <tr>
                    <td>{{version}}</td>
                    <td>
                        {{ #each downloads }}
                        <span {{ #if gold_only }} class="gold-only-inline" {{ /if }}>
                            {{ #if icon }}
                            <img src="/static/img/icons/{{icon}}" class="icon-24 prev-ver-item">
                            {{ /if }}
                            {{ #if short_name }}
                            <a {{ #if gold_only }} class="download-link-gold" {{ else }} class="prev-ver-item" {{ /if }}
                                href="{{download_url}}">{{short_name}}</a>
                            {{ /if }}
                        </span>
                        {{ /each }}
                    </td>
                </tr>
                {{ /each }}
            </tbody>
        </table>
    </div>

    <h2>Development builds</h2>

    <div class="alert alert-warning">
        Please note that these development builds can be unstable - if one doesn't work, try an earlier one.
        Always backup your save games!
    </div>
    <p>Development builds for more platforms will be added soon.</p>

    <p><a href="/devbuilds">Full list of development builds</a></p>

    <div id="latestBuilds">
    </div>

    <script>
        g_downloadPage = true;
        g_buildbotPage = true;
    </script>
</div>

{{> common_footer this }}
